[ { cowboy_swagger
  , [ { global_spec
      , #{ swagger => "2.0"
         , info => #{title => "Canillita Test API"}
         }
      }
    ]
  }
, { mnesia
  , [{debug, true}]
  }
, { sumo_db
  , [ {wpool_opts, [{overrun_warning, 100}]}
    , {log_queries, true}
    , {query_timeout, 30000}
    , {storage_backends, []}
    , {stores
      , [ {queryobjseg_ram_store_mnesia, sumo_store_mnesia, [{workers, 10}, {ram_copies, here}]}
        , {queryobjseg_store_mnesia, sumo_store_mnesia, [{workers, 10}, {disc_copies, here}]}
        ]
      }
    , { docs
      , [ {queryobjseg_devices, queryobjseg_ram_store_mnesia, #{module => queryobjseg_devices}}
        , {queryobjseg_segmentations, queryobjseg_ram_store_mnesia, #{module => queryobjseg_segmentations}}
        , {queryobjseg_datasets, queryobjseg_store_mnesia, #{module => queryobjseg_datasets}}
        , {queryobjseg_unc, queryobjseg_store_mnesia, #{module => queryobjseg_unc}}
        % , {queryobjseg_unc_plus, queryobjseg_store_mnesia, #{module => queryobjseg_unc_plus}}
        % , {queryobjseg_gref, queryobjseg_store_mnesia, #{module => queryobjseg_gref}}
        % , {queryobjseg_referit, queryobjseg_store_mnesia, #{module => queryobjseg_referit}}
        ]
      }
    ]
  }
, {queryobjseg, []}
, { sasl
  , [ {sasl_error_logger, tty}
    , {errlog_type, all}
    ]
  }
, {sync
  , [ {src_dirs, {add, [{"./priv/plugins", [{outdir,"./priv/plugins_bin"}]}]}}
      ]}
].
